body {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #616161;
}

footer {
    padding: 40px 0;
}

.bg-dark {
    background-color: #000 !important;
}

.social-media .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #616161;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff7668;
    text-decoration: none;
}

form input[type="email"]::placeholder {
    color: #616161 !important;
    opacity: 1 !important;
}

form input[type="email"]:focus {
    border: #ff7668 2px solid !important;
    box-shadow: none !important;
}

form button[type="submit"] {
    background-color: #ff7668;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #ff4c3b;
}
