<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineShuffle - Favorites</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/Favourites.css" />
</head>

<body>
    <!-- HERO -->
    <section class="container py-5">
        <p class="text-danger small letter-spacing">PERSONAL GALLERY</p>
        <h1 class="fw-bold display-4 text-white">
            Your<span class="text-danger">Favorites</span>
        </h1>
        <p class="text-secondary">
            A curated collection of your most beloved cinematic moments.
        </p>
    </section>
    <!-- CARDS -->
    <section class="container pb-5">
        <div class="row g-4">
            <!-- Card1 -->
            <div class="col-lg-3 col-md-6">
                <div class="card custom-card h-100">

                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuCneJY8xdmloTgXhwvxi_XehBHMRswbpt_Nzyw_I6QJvGf8PMBGfH_8ktb-wBd2DU3uGsSsiFykJTpxG4ZgxVCPD5b--HW-AtBDF3ia0bdJ5CF3RSfoOzOWD9xeV5OK43Ku3U3uViadBQY6XaxAV9QGCIBM_N0dJyl4NfTXzxyn1GGKlYpmk9GSom-JKUqfAGmcgyVU1yPgUKqk3lR8vt6iXq9QraQTpwsLUY4veV8uE83n1xzwmLgzhzeNn7rjwsc5MUkeRea0cX0S"
                        class="card-img-top">

                    <div class="p-3">

                        <div class="d-flex justify-content-between">
                            <span class="tag">SCI-FI</span>
                            <span class="text-warning">⭐ 8.9</span>
                        </div>

                        <h5 class="mt-2 text-white">The Neon Horizon</h5>

                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-light flex-grow-1">▶ Watch Now</button>

                            <div class="eye-btn">
                                <svg viewBox="0 0 24 24">
                                    <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Card2 -->
            <div class="col-lg-3 col-md-6">
                <div class="card custom-card h-100">
                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuA6HmI_Wys5AREkSS_YyJgwXvQAbeKINV6C34I_3DOECpuleHHfj7TmZcWd8K06t_d8BAM1yUwai8UGbzwlfHbIKDj4PbUjRF0uzooWt-mt0kZzMLED1S36ZliFCVme-rNnC0k_XmrkgT0_Uu8juQyP22AsDMjguRCDD1DcTNvhYn2FaKzCZa_8mzOk-Iu8_vOtz3eAJUPm99mNKCDivL4bE9Ss6JFJ0A3P0MIk5fMhM0oCc49unKwPqRUp_I6AaDDis-JsD6Z8qsTg"
                        class="card-img-top">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <span class="tag">NOIR</span>
                            <span class="text-warning">⭐ 9.2</span>
                        </div>
                        <h5 class="mt-2 text-white">Shadows of Silence</h5>
                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-light flex-grow-1">▶ Watch Now</button>
                            <div class="eye-btn">
                                <svg viewBox="0 0 24 24">
                                    <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card custom-card h-100">
                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuA6HmI_Wys5AREkSS_YyJgwXvQAbeKINV6C34I_3DOECpuleHHfj7TmZcWd8K06t_d8BAM1yUwai8UGbzwlfHbIKDj4PbUjRF0uzooWt-mt0kZzMLED1S36ZliFCVme-rNnC0k_XmrkgT0_Uu8juQyP22AsDMjguRCDD1DcTNvhYn2FaKzCZa_8mzOk-Iu8_vOtz3eAJUPm99mNKCDivL4bE9Ss6JFJ0A3P0MIk5fMhM0oCc49unKwPqRUp_I6AaDDis-JsD6Z8qsTg"
                        class="card-img-top">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <span class="tag">NOIR</span>
                            <span class="text-warning">⭐ 9.2</span>
                        </div>
                        <h5 class="mt-2 text-white">Shadows of Silence</h5>
                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-light flex-grow-1">▶ Watch Now</button>
                            <div class="eye-btn">
                                <svg viewBox="0 0 24 24">
                                    <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card custom-card h-100">
                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuA6HmI_Wys5AREkSS_YyJgwXvQAbeKINV6C34I_3DOECpuleHHfj7TmZcWd8K06t_d8BAM1yUwai8UGbzwlfHbIKDj4PbUjRF0uzooWt-mt0kZzMLED1S36ZliFCVme-rNnC0k_XmrkgT0_Uu8juQyP22AsDMjguRCDD1DcTNvhYn2FaKzCZa_8mzOk-Iu8_vOtz3eAJUPm99mNKCDivL4bE9Ss6JFJ0A3P0MIk5fMhM0oCc49unKwPqRUp_I6AaDDis-JsD6Z8qsTg"
                        class="card-img-top">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <span class="tag">NOIR</span>
                            <span class="text-warning">⭐ 9.2</span>
                        </div>
                        <h5 class="mt-2 text-white">Shadows of Silence</h5>
                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-light flex-grow-1">▶ Watch Now</button>
                            <div class="eye-btn">
                                <svg viewBox="0 0 24 24">
                                    <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card custom-card h-100">
                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuA6HmI_Wys5AREkSS_YyJgwXvQAbeKINV6C34I_3DOECpuleHHfj7TmZcWd8K06t_d8BAM1yUwai8UGbzwlfHbIKDj4PbUjRF0uzooWt-mt0kZzMLED1S36ZliFCVme-rNnC0k_XmrkgT0_Uu8juQyP22AsDMjguRCDD1DcTNvhYn2FaKzCZa_8mzOk-Iu8_vOtz3eAJUPm99mNKCDivL4bE9Ss6JFJ0A3P0MIk5fMhM0oCc49unKwPqRUp_I6AaDDis-JsD6Z8qsTg"
                        class="card-img-top">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <span class="tag">NOIR</span>
                            <span class="text-warning">⭐ 9.2</span>
                        </div>
                        <h5 class="mt-2 text-white">Shadows of Silence</h5>
                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-light flex-grow-1">▶ Watch Now</button>
                            <div class="eye-btn">
                                <svg viewBox="0 0 24 24">
                                    <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card3 -->
            <div class="col-lg-3 col-md-6">
                <div class="card custom-card h-100">
                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuCGf8LxlM_wbW3qljDGvAHUr2Z9_eUzIhYDIVFnr0V_ViD3HbeFuJNfjLSeqE-dUVpyh4fYjiDsO_zNsqICRODjZIfwEost1iQ97zFTNM3JgbNVi5O7gBMrcvfkQMtf85A9dPCxcquxlz43HuM5qw1LP9O1F7yVgZHrnBYw2NqcCtPC68CNwiszHIvHCcFJ55-dHWtOn6eNKcSxXPbq0wlN4XfPPU5MLTh2QPI5PccqTp0wytcn5o6aXT2hGuheQTq6vYMB6paFV5xi"
                        class="card-img-top">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <span class="tag">DRAMA</span>
                            <span class="text-warning">⭐ 8.5</span>
                        </div>
                        <h5 class="mt-2 text-white">The Final Act</h5>
                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-light flex-grow-1">▶ Watch Now</button>
                            <div class="eye-btn">
                                <svg viewBox="0 0 24 24">
                                    <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card4 -->
            <div class="col-lg-3 col-md-6">
                <div class="card custom-card h-100">
                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuDYvh8hr7s7G64TH7PzPSN0Owu27L9mlU_yqP8wZC8hrnRs6mjJo_rzGyLr2mA2WZ4_ONeZybA3aT6y0uCz_ps2JlD8ahWb63Az-euS3NXTB0lOx43CN4wcDH0WUPrnpasKP1TAfCfUIfaXx4GhnaO9NE-a8FfRxUgM9dqq3bpy9NNMlxPtXW5Na-e1DmVtZI8QBTkm-hN4NjYFX6er0u4xuzcujfKw_UIhumD2a_7tkn1V1MaXE6yXB-0v_BGexJhNdbArt3Pwm1EJ"
                        class="card-img-top">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <span class="tag">MYSTERY</span>
                            <span class="text-warning">⭐ 8.1</span>
                        </div>
                        <h5 class="mt-2 text-white">Whispers in Fog</h5>
                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-light flex-grow-1">▶ Watch Now</button>
                            <div class="eye-btn">
                                <svg viewBox="0 0 24 24">
                                    <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>