body {
    background-color: black;
}

.hero1 {

    margin-top: 70px;
    margin-bottom: 220px;
}

.Poppins {
    font-family: 'Poppins', sans-serif;

}

.Wcolor {
    color: rgb(227, 233, 239);

}

.Gcolor {
    color: rgb(119, 120, 121);

}

.Simplify {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 900w;
}

.gradient {
    background: linear-gradient(to right, #ff7a7a, #b36bff);
    background-clip: text;
    /* this for making the gradient only on the text */
    -webkit-text-fill-color: transparent;
    /*this for making the gradient to remove the orig color of the text and use only the gradient*/
}

.commImg {
    position: relative;
    height: 200px;
    overflow: hidden;
    height: 100px;
}

.ImgComm {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.AnotherGrad {
    background:
        radial-gradient(circle at 15%, rgba(62, 54, 52, 0.15), transparent 40%),
        radial-gradient(circle at 95%, rgba(150, 100, 255, 0.15), transparent 40%),
        linear-gradient(135deg, #0d0d0d, #1a1a1a);
}