body {
    background: var(--color-black);
    color: var(--color-text-primary);
    font-family: var(--font-family-display);
}

/* HERO */
.hero {
    padding: 50px 0;
}

.hero .small {
    color: var(--color-accent);
    letter-spacing: 2px;
}

.hero span {
    color: var(--color-accent);
}

/* CARD */
.card {
    background: var(--color-bg-end)q;
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

/* INFO */
.info {
    background: var(--color-bg-end);
}

/* TAG */
.tag {
    background-color: #3b1f1f;
    color: #ff6b6b;
    font-size: var(--font-size-sm);
    padding: 6px 10px;
    border-radius: 8px;
}

/* RATE */
.rate {
    color: gold;
}

/* BUTTON */
.watch-btn {
    background: var(--color-accent);
    color: var(--color-black);
    border-radius: 10px;
}

/* EYE */
.eye-btn {
    width: 50px;
    height: 50px;
    background: #1f1f1f;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.3s;
}

.eye-btn svg {
    width: 22px;
    height: 22px;
    stroke: #fff;
    fill: none;
    stroke-width: 2;
}

.eye-btn:hover {
    background: #2a2a2a;
    transform: scale(1.05);
}