body {
  background: #0b0b0b;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* HERO */
.hero {
  padding: 50px 0;
}

.hero .small {
  color: #ff5c5c;
  letter-spacing: 2px;
}

.hero span {
  color: #ff5c5c;
}

/* CARD */
.card {
  background: #111;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.card-img-top {
  height: 350px;
  object-fit: cover;
}

/* INFO */
.info {
  background: #111;
}

/* TAG */
.tag {
  background-color: #3b1f1f;
  color: #ff6b6b;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 8px;
}

/* RATE */
.rate {
  color: gold;
}

/* BUTTON */
.watch-btn {
  background: #fff;
  color: #000;
  border-radius: 10px;
}

/* EYE */
.eye-btn {
  width: 50px;
  height: 50px;
  background: #1f1f1f;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;
}

.eye-btn svg {
  width: 22px;
  height: 22px;
  stroke: #fff;
  fill: none;
  stroke-width: 2;
}
.eye-btn:hover {
  background: #2a2a2a;
  transform: scale(1.05);
}
