:root {
    --error-dim: #d73357;
    --surface-container-high: #20201f,
    --text-gradient-primary:  linear-gradient(135deg, #ff8e80 0%, #ff7668 100%),
    --on-tertiary-fixed-variant: #780023,
    --on-tertiary-container: #000000,
    --surface: #0e0e0e,
    --tertiary-fixed: #ff909b,
    --outline-variant: #484847,
    --on-error: #490013,
    --outline: #767575,
    --secondary-fixed-dim: #dab4ff,
    --primary-fixed-dim: #ff5b4c,
    --background: #0e0e0e,
    --surface-variant: #262626,
    --on-primary: #650003,
    --surface-bright: #2c2c2c,
    --error: #ff6e84,
    --on-surface: #ffffff,
    --on-secondary-fixed: #4e008a,
    --error-container: #a70138,
    --surface-tint: #ff8e80,
    --on-secondary-fixed-variant: #7500cc,
    --on-primary-fixed-variant: #610003,
    --on-error-container: #ffb2b9,
    --surface-container: #1a1a1a,
    --inverse-on-surface: #565555,
    --on-tertiary-fixed: #39000c,
    --tertiary: #ff6e81,
    --on-secondary: #32005c,
    --primary-fixed: #ff7668,
    --secondary-fixed: #e4c6ff,
    --surface-container-lowest: #000000,
    --surface-container-low: #131313,
    --tertiary-container: #ff0355,
    --on-secondary-container: #f0dcff,
    --surface-dim: #0e0e0e,
    --on-surface-variant: #adaaaa,
    --surface-container-highest: #262626,
    --on-primary-fixed: #000000,
    --secondary-container: #7701d0,
    --on-tertiary: #490012,
    --primary-container: #ff7668,
    --tertiary-fixed-dim: #ff7989,
    --primary: #ff8e80,
    --secondary-dim: #9c42f4,
    --on-background: #ffffff,
    --secondary: #bf81ff,
    --inverse-surface: #fcf9f8,
    --primary-dim: #e80f16,
    --on-primary-container: #4f0002,
    --inverse-primary: #c1000c,
    --tertiary-dim: #e7004c,
    --border-radius: 0.25rem,
    --border-radius-lg: 0.5rem,
    --border-radius-xl: 0.75rem,
    --border-radius-full: 9999px,
    --font-headline: 'Plus Jakarta Sans',
    --font-body: 'Inter',
    --font-label: 'Inter'
}