body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-sm);
    letter-spacing: 0.02em;
    background-color: var(--color-black);
     -webkit-touch-callout: none; /* Safari/iOS */
  -webkit-user-select: none;   /* Chrome/Safari/Edge */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Standard property */
}