<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieRoulette - Favorites</title>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/base/navbar.css" />
    <link rel="stylesheet" href="../css/base/footer.css" />
    <link rel="stylesheet" href="../css/Favourites.css" />
</head>

<body>

    <div id="navbar-container"></div>

    <!-- HERO -->
    <section class="container py-5">
        <p class="text-danger small letter-spacing">PERSONAL GALLERY</p>
        <h1 class="fw-bold display-4 text-white">
            Your<span class="text-danger">Favorites</span>
        </h1>
        <p class="text-secondary">
            A curated collection of your most beloved cinematic moments.
        </p>
    </section>
    <section class="my-5">
        <div class="row container-fluid">
            <div class=" col-lg-3 col-md-6 col-12 container-fluid">
                <div class="card custom-card h-100">
                    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuA6HmI_Wys5AREkSS_YyJgwXvQAbeKINV6C34I_3DOECpuleHHfj7TmZcWd8K06t_d8BAM1yUwai8UGbzwlfHbIKDj4PbUjRF0uzooWt-mt0kZzMLED1S36ZliFCVme-rNnC0k_XmrkgT0_Uu8juQyP22AsDMjguRCDD1DcTNvhYn2FaKzCZa_8mzOk-Iu8_vOtz3eAJUPm99mNKCDivL4bE9Ss6JFJ0A3P0MIk5fMhM0oCc49unKwPqRUp_I6AaDDis-JsD6Z8qsTg"
                        class="card-img-top">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <span class="tag">NOIR</span>
                            <span class="text-warning">⭐ 9.2</span>
                        </div>
                        <h5 class="mt-2 text-white">Shadows of Silence</h5>
                        <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-primary py-3 px-3 rounded-4 flex-grow-1">▶ Watch Now</button>
                            <button class="btn btn-secondary py-2 px-3 rounded-4 d-flex align-items-center justify-content-center"
                                id="view-details">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="footer-container"></div>

    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/Favourites.js"></script>

</body>

</html>